*{
    margin: 0;
    padding: 0;
    color: inherit;

}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(33,3,3,1) 0%, rgba(60,4,4,1) 50%, rgba(41,5,5,1) 100%);
    font-family: "Poppins", sans-serif;
    color: #f3f3f3;
}